<ul class="social-network social-circle">
  <li>
    <a href="https://github.com/christophstach" target="_blank" class="iconGithub" title="GitHub">
      <i class="fa fa-github"></i>
    </a>
  </li>
  <li>
    <a href="https://www.xing.com/profile/Christoph_Stach" target="_blank" class="iconXing" title="Xing">
      <i class="fa fa-xing"></i></a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/christoph-stach-7586b958/" target="_blank" class="iconLinkedIn"
       title="Linkedin">
      <i class="fa fa-linkedin"></i>
    </a>
  </li>
</ul>
