<nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" #element>
  <a class="navbar-brand" href="#home">Christoph Stach</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home" (click)="scrollSmooth('#home')">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skills" (click)="scrollSmooth('#skills')">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#work-experience" (click)="scrollSmooth('#work-experience')">Work Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#education" (click)="scrollSmooth('#education')">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#languages" (click)="scrollSmooth('#languages')">Languages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#find-me" (click)="scrollSmooth('#find-me')">Find me</a>
      </li>
    </ul>
  </div>
</nav>
