<nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" scrollSpyElement="nav">
  <a class="navbar-brand" href="#home" appSmoothScroll="#">Christoph Stach</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [ngClass]="{'active': (homeInViewport$ | async)}">
        <a class="nav-link" href="#home" appSmoothScroll="#">Home</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': (skillsInViewport$ | async)}">
        <a class="nav-link" href="#skills" appSmoothScroll="#skills">Skills</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': (workExperienceInViewport$ | async)}">
        <a class="nav-link" href="#work-experience" appSmoothScroll="#work-experience">Work Experience</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': (educationInViewport$ | async)}">
        <a class="nav-link" href="#education" appSmoothScroll="#education">Education</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="#languages" appSmoothScroll="languages">Languages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#find-me" appSmoothScroll="find-me">Find me</a>
      </li>
      -->
    </ul>
  </div>
</nav>

