@import "./../../../../colors";

section {
  display: flex;
  flex-direction: column;

  h2 {
    border-top: solid 3px #eeeeee;
    border-bottom: solid 3px #eeeeee;
    text-align: center;
    padding: 16px;
    margin: 0;
    flex-grow: 0;
  }

  .container {
    flex-grow: 1;
    display: flex;
    align-items: center;

    .skills-wrapper {
      .skill {
        text-align: center;
        padding: 40px 10%;

        img {
          height: 100px
        }
      }
    }
  }

  min-height: calc(100vh - 55px);
}
