<section id="skills" class="skills-section section text-center" data-scroll-spy="skills">
  <h2 class="section-title">Professional Skills</h2>
  <div class="top-skills">
    <h3 class="subtitle">Top Skills</h3>
    <div class="row">
      <div class="item col-12 col-md-4">
        <div class="item-inner">
          <div class="text-center chart">
            <app-progress-circle [value]="0.90"></app-progress-circle>
          </div>
          <h4 class="skill-name">JavaScript & CSS</h4>
          <div class="level">Expert, 6 years</div>
          <div class="desc">
          </div>
        </div><!--//item-inner-->
      </div><!--//item-->

      <div class="item col-12 col-md-4">
        <div class="item-inner">
          <div class="text-center chart">
            <app-progress-circle [value]="0.80"></app-progress-circle>
          </div>
          <h4 class="skill-name">Angular</h4>
          <div class="level">Expert, 2 years</div>
          <div class="desc">
          </div>
        </div><!--//item-inner-->
      </div><!--//item-->

      <div class="item col-12 col-md-4">
        <div class="item-inner">
          <div class="text-center chart">
            <app-progress-circle [value]="0.75"></app-progress-circle>
          </div>
          <h4 class="skill-name">PHP</h4>
          <div class="level">Advanced, 6 years</div>
          <div class="desc">
          </div>
        </div><!--//item-inner-->
      </div><!--//item-->


    </div>
  </div>

  <div class="other-skills">
    <h3 class="subtitle">Other Skills</h3>
    <div class="misc-skills">
      <span class="skill-tag">HTML5</span>
      <span class="skill-tag">CSS3</span>
      <span class="skill-tag">Vue.js</span>
      <span class="skill-tag">SASS</span>
      <span class="skill-tag">LESS</span>
      <span class="skill-tag">Git</span>
      <span class="skill-tag">Java</span>
      <span class="skill-tag">Spring</span>
      <span class="skill-tag">Symfony</span>
      <span class="skill-tag">Laravel</span>
      <span class="skill-tag">German</span>
      <span class="skill-tag">English</span>
      <span class="skill-tag">Spanish</span>
    </div>
  </div>
</section>
