<section data-scroll-spy="skills">
  <h2>
    <div class="will-animate" #headline><i class="fa fa-wrench" aria-hidden="true"></i> My skills</div>
  </h2>

  <div class="container">
    <div class="skills-wrapper">

      <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-progress-circle-new [value]="0.85" label="HTML5 / CSS3"></app-progress-circle-new>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-progress-circle-new [value]="0.8" label="JavaScript"></app-progress-circle-new>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-progress-circle-new [value]="0.8" label="Angular"></app-progress-circle-new>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-progress-circle-new [value]="0.8" label="Vue.js"></app-progress-circle-new>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-progress-circle-new [value]="0.45" label="React / Redux"></app-progress-circle-new>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-progress-circle-new [value]="0.70" label="PHP / Symfony"></app-progress-circle-new>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-progress-circle-new [value]="0.60" label="Java"></app-progress-circle-new>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-progress-circle-new [value]="0.45" label="Spring"></app-progress-circle-new>
          </div>
        </div>


      </div>
    </div>
  </div>

</section>
