<ul class="social list-inline">
  <li class="list-inline-item">
    <a href="https://www.linkedin.com/in/christoph-stach-7586b958/" aria-label="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  </li>
  <li class="list-inline-item">
    <a href="https://www.xing.com/profile/Christoph_Stach" aria-label="Xing"><i class="fa fa-xing" aria-hidden="true"></i></a>
  </li>
  <li class="list-inline-item">
    <a href="https://github.com/christophstach" aria-label="GitHub"><i class="fa fa-github-alt" aria-hidden="true"></i></a>
  </li>
</ul>
