<header class="container-fluid" appGlobalElement="home">
  <div class="intro">
    <div class="row">
      <div class="offset-1 col-10">
        <img class="rounded-circle img-fluid" src="assets/me.jpg" alt="Foto of me">
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <h1>
          Christoph Stach

          <div class="hr-icon">
            <hr>
          </div>

          <small>Frontend Engineer - Web Developer - Software Engineer - Full Stack Developer</small>
        </h1>
      </div>
    </div>

  </div>
</header>
