<section appGlobalElement="skills">
  <h2>
    <div class="will-animate" #headline><i class="fa fa-wrench" aria-hidden="true"></i> My skills</div>
  </h2>

  <div class="container">
    <div class="skills-wrapper">

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-jquery-circle-progress [value]="0.85" label="HTML5 / CSS3" [size]="175"></app-jquery-circle-progress>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-jquery-circle-progress [value]="0.8" label="JavaScript" [size]="175"></app-jquery-circle-progress>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-jquery-circle-progress [value]="0.8" label="Angular" [size]="175"></app-jquery-circle-progress>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-jquery-circle-progress [value]="0.8" label="Vue.js" [size]="175"></app-jquery-circle-progress>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-jquery-circle-progress [value]="0.45" label="React / Redux" [size]="175"></app-jquery-circle-progress>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-jquery-circle-progress [value]="0.70" label="PHP / Symfony" [size]="175"></app-jquery-circle-progress>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-jquery-circle-progress [value]="0.60" label="Java" [size]="175"></app-jquery-circle-progress>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="skill">
            <app-jquery-circle-progress [value]="0.45" label="Spring" [size]="175"></app-jquery-circle-progress>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
