<section class="container d-flex align-items-center">
  <div class="wrapper">
    <!--<h2><i class="fa fa-code" aria-hidden="true"></i> Skills</h2>-->

    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="skill">
          <app-progress-ring [percent]="85" label="HTML5 / CSS3">
            <div class="h1 m-0">85 %</div>
          </app-progress-ring>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="skill">
          <app-progress-ring [percent]="80" label="JavaScript">
            <div class="h1 m-0">80 %</div>
          </app-progress-ring>

        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="skill">
          <app-progress-ring [percent]="80" label="Angular">
            <div class="h1 m-0">80 %</div>
          </app-progress-ring>

        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="skill">
          <app-progress-ring [percent]="80" label="Vue.js">
            <div class="h1 m-0">80 %</div>
          </app-progress-ring>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="skill">
          <app-progress-ring [percent]="45" label="React / Redux">
            <div class="h1 m-0">45 %</div>
          </app-progress-ring>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="skill">
          <app-progress-ring [percent]="70" label="PHP / Symfony">
            <div class="h1 m-0">70 %</div>
          </app-progress-ring>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="skill">
          <app-progress-ring [percent]="60" label="Java">
            <div class="h1 m-0">60 %</div>
          </app-progress-ring>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="skill">
          <app-progress-ring [percent]="45" label="Spring">
            <div class="h1 m-0">45 %</div>
          </app-progress-ring>
        </div>
      </div>

    </div>
  </div>
</section>
