<div class="page" scrollSpy>
  <app-nav></app-nav>

  <div appScrollSpyBreakpoint="home">
    <app-header id="home"></app-header>
  </div>

  <div appScrollSpyBreakpoint="skills">
    <app-skills id="skills"></app-skills>
  </div>

  <div appScrollSpyBreakpoint="work-experience">
    <app-work-experience id="work-experience"></app-work-experience>
  </div>

  <div appScrollSpyBreakpoint="education">
    <app-education id="education"></app-education>
  </div>


  <!--
  <app-languages id="languages"></app-languages>
  <app-find-me id="find-me"></app-find-me>
  -->

  <app-footer></app-footer>
</div>
