<section class="bg-light"  data-scroll-spy="work-experience">
  <h2>
    <div class="will-animate" #headline><i class="fa fa-laptop"></i> Work experience</div>
  </h2>
  <div class="container">
    <div class="timeline-wrapper will-animate" #timeline>
      <app-timeline>
        <app-timeline-item
          *ngFor="let item of timelineItems; let index = index"
          [date]="item.startDate"
          [badgeType]="index === 0 ? 'primary': 'default'"
          [title]="item.position + ' @ ' + item.employer"
          [subTitle]="dateFormat(item.startDate, 'MMMM YYYY') + ' - '  + dateFormat(item.endDate, 'MMMM YYYY') + ', ' + item.location"
          [inverted]="index % 2 !== 0">
          <ul class="mt-3" *ngIf="item.responsibilities.length > 0">
            <li *ngFor="let responsibility of item.responsibilities">{{responsibility}}</li>
          </ul>

          <ng-container *ngIf="item.technologies.length > 0">
            <hr>

            <ng-container *ngFor="let technology of item.technologies">
              <span class="badge badge-secondary">{{technology}}</span>
            </ng-container>
          </ng-container>
        </app-timeline-item>
      </app-timeline>
    </div>
  </div>
</section>
