<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-8">
        © 2017 Christoph Stach
      </div>
      <div class="col-4 text-right">
        <!--<a class="mx-2" href="https://github.com/christophstach" target="_blank">
          <i aria-hidden="true" class="fa fa-github"></i>
        </a>
        <a class="mx-2" href="https://www.xing.com/profile/Christoph_Stach" target="_blank">
          <i aria-hidden="true" class="fa fa-xing"></i>
        </a>
        <a class="mx-2" href="https://www.linkedin.com/in/christoph-stach-7586b958/" target="_blank">
          <i aria-hidden="true" class="fa fa-linkedin"></i>
        </a>

        -->
        <app-social-nav></app-social-nav>
      </div>
    </div>
  </div>
</footer>
