<section data-scroll-spy="education">
  <h2>
    <div class="will-animate" #headline><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</div>
  </h2>
  <div class="container">
    <div class="timeline-wrapper will-animate" #timeline>
      <app-timeline>
        <app-timeline-item
          *ngFor="let item of timelineItems; let index = index"
          [date]="item.startDate"
          [badgeType]="index === 0 ? 'primary': 'default'"
          [title]="(item.program ? item.program + ' @ ' + item.name : item.name)"
          [subTitle]="dateFormat(item.startDate, 'MMMM YYYY') + ' - '  + dateFormat(item.endDate, 'MMMM YYYY') + ', ' + item.location"
          [inverted]="index % 2 !== 0">
        </app-timeline-item>
      </app-timeline>
    </div>
  </div>
</section>
