<section id="education" class="education-section section" data-scroll-spy="education">
  <h2 class="section-title">Education</h2>
  <div class="row">
    <div class="item col-12 col-md-4" *ngFor="let item of timelineItems; let index = index">
      <div class="item-inner">
        <h3 class="degree">{{item.program}}</h3>
        <div class="education-body">
          {{item.name}}, {{item.location}}
        </div><!--//education-body-->
        <div class="time">{{item.startDate | moment:'MMMM YYYY'}} - {{item.endDate.getMonth ? (item.endDate | moment:'MMMM YYYY') : item.endDate}} </div>
        <div class="desc">
          <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient-->
        </div>
      </div><!--//item-inner-->
    </div><!--//item-->
  </div>
</section>
