<section id="contact-me" class="contact-section section" data-scroll-spy="contact-me">
  <h2 class="section-title">Get in Touch</h2>
  <div class="intro">
    <img class="profile-image rounded-circle" src="assets/me.jpg" alt="Picture of Christoph Stach">
    <div class="dialog">
      <p>
        I'm currently <strong>not</strong> taking on freelance work. I am still studying at the University of Applied
        Sciences HTW Berlin, so I currently don't have enough time
        to focus on other projects.
      </p>
      <p><strong>I can help with the following:</strong></p>
      <ul class="list-unstyled service-list">
        <li><i class="fa fa-check" aria-hidden="true"></i> Front-end development with Angular and ngrx</li>
        <li><i class="fa fa-check" aria-hidden="true"></i> Front-end development with Vue.js and Vuex</li>
        <li><i class="fa fa-check" aria-hidden="true"></i> Back-end development with PHP and Symfony</li>
        <li><i class="fa fa-check" aria-hidden="true"></i> Back-end development with Java and Spring</li>
      </ul>

      <br>

      <app-social-nav></app-social-nav>

      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</section><!--//section-->
