@import './../../../../colors';

section {
  display: flex;
  flex-direction: column;

  border-top: solid 3px #eeeeee;

  .wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  min-height: calc(100vh - 55px);
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border-left: 5px solid #42A948;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border-left: 5px solid #a94442;
}

/*=========================
  Icons
 ================= */

/* footer social icons */
a.social-icon.iconRss:hover {
  background-color: #F56505;
}

a.social-icon.iconGithub:hover {
  background-color: #6e5494;
}

a.social-icon.iconXing:hover {
  background-color: #026466;
}

a.social-icon.iconFacebook:hover {
  background-color: #3B5998;
}

a.social-icon.iconTwitter:hover {
  background-color: #33ccff;
}

a.social-icon.iconGoogle:hover {
  background-color: #BD3518;
}

a.social-icon.iconVimeo:hover {
  background-color: #0590B8;
}

a.social-icon.iconLinkedIn:hover {
  background-color: #007bb7;
}

a.socialIcon:hover, .socialHoverClass {
  color: #44BCDD;
}

a.social-icon {
  display: block;
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 100%;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  i {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    &:before {
      text-align: center;
      flex-grow: 1;
      font-size: 150px;

    }
  }
}

a.social-icon:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

a.social-icon i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

a.social-icon {
  background-color: #D3D3D3;
}

