<section id="contact-me" class="contact-section section" data-scroll-spy="contact-me">
  <h2 class="section-title">Get in Touch</h2>
  <div class="intro">
    <img class="profile-image rounded-circle" src="assets/me.jpg" alt="">
    <div class="dialog">
      <div>
        <form #f="ngForm" (submit)="onSubmit($event)">
          <div class="input-group" *ngIf="contactState.step === 1">
            <input type="email" class="form-control form-control" placeholder="E-Mail" name="from" ngModel email>
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit" [disabled]="!f.valid">Next</button>
              </span>
          </div>

          <div *ngIf="contactState.step === 2">
            <div class="form-group mb-3">
              <input type="text" class="form-control form-control" placeholder="Subject" name="subject" #subjectInput ngModel required>
            </div>

            <div class="form-group my-3">
              <textarea class="form-control form-control" rows="7" placeholder="Message" name="message" ngModel required></textarea>
            </div>

            <div class="mt-3">
              <button type="submit" class="btn btn-lg btn-secondary" [disabled]="!f.valid">Next</button>
            </div>
          </div>

          <div *ngIf="contactState.step === 3" class="p-5">
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Sending...
          </div>

          <div *ngIf="contactState.step === 4">
            <div class="alert alert-theme animated bounceIn" role="alert">
              <h4 class="alert-heading">E-Mail sent!</h4>
              <p>
                You successfully sent an E-Mail to me.
                You should receive an confirmation within the next minutes.
                I will get in touch with you soon.
                Thank you for using my E-Mail form.
                Bellow you can review the data you entered.
              </p>
              <hr>
              <dl>
                <dt>E-Mail</dt>
                <dd>{{contactState.from}}</dd>
                <dt>Subject</dt>
                <dd>{{contactState.subject}}</dd>
                <dt>Message</dt>
                <dd>{{contactState.message}}</dd>
              </dl>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="contactState.step === 1" class="mt-4">
        <p>
          I'm currently <strong>not</strong> taking on freelance work. I am still studying at the University of Applied Sciences HTW Berlin, so I currently don't have enough time
          to focus on other projects.
        </p>
        <p><strong>I can help with the following:</strong></p>
        <ul class="list-unstyled service-list">
          <li><i class="fa fa-check" aria-hidden="true"></i> Front-end development with Angular and ngrx</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Front-end development with Vue.js and Vuex</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Back-end development with PHP and Symfony</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Back-end development with Java and Spring</li>
        </ul>

        <app-social-nav></app-social-nav>
      </div>

    </div><!--//diaplog-->
  </div><!--//intro-->

</section><!--//section-->
