<nav id="nav" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#home" appSmoothScroll="#">Christoph Stach</a>
  <button
    class="navbar-toggler"
    type="button"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="onToggleNavbar($event)">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" #collapsibleNavbar>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home" appSmoothScroll="#" data-scroll-spy-link>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skills" appSmoothScroll="#skills" data-scroll-spy-link>Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#work-experience" appSmoothScroll="#work-experience" data-scroll-spy-link>Work Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#education" appSmoothScroll="#education" data-scroll-spy-link>Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact-me" appSmoothScroll="#contact-me" data-scroll-spy-link>Contact me</a>
      </li>
    </ul>
  </div>
</nav>

